* {
	margin: 0;
	padding: 0;
	outline: o;
}

body {
	font-size: 14px;
	font-family: Open Sans, sans-serif;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: middle;
}

.full-wrapper {
	width: 100%;
}

.wrapper {
	width: 1140px;
	margin: 0 auto;
}

.clr {
	clear: both;
}


/*=========================== This i header======================= */

.header {
	background: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
}

.logo {
	float: left;
	padding-top: 20px;
}

.menu {
	float: right;
	padding-top: 20px;
}

.menu ul li {
	display: inline-block;
	padding: 15px;
}

.menu ul li a {
	font-size: 18px;
	padding: 10px 15px;
	color: white;
}

.header-area-top {
	overflow: hidden;
}

.header-area-bottom-left {
	width: 50%;
	float: left;
	padding-top: 60px;
}

.header-area-bottom-right {
	width: 50%;
	float: right;
	padding-bottom: 100px;
}

.header-area-bottom {
	margin: 100px 0;
}

h1 {
	font-size: 50;
	margin: 20px 0;
}

.header-area-bottom-left p {
	font-size: 12px;
	padding-right: 200px;
	margin: 40px 0;
}

.button {
    background-color: #ff5f60;
    border: none;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.versity-area-right h2 {
    font-size: 30px;
}
.university-area-left h2 {
    font-size: 30px;
}

/*=================== admition area ============================ */

.admition-area {
	padding-bottom: 100px;
}

.admition-area-box {
	width: 100%;
}

.admition-area-box {
	background: #ff5f60;
	text-align: center;
	padding: 50px;
	border-radius: 16px;
	width: 20%;
	position: relative;
	top: -52px;
	border-top: 8px solid #183251;
	padding-bottom: 75px;
	float: left;
	/*Ai kahne float left dannai*/
}


/* ----This is a Header Section ----*/
.admition-area-box h2 {
	font-family: poppins;
	color: #fff;
	font-size: 25px;
	padding-bottom: 20px;
	position: relative;
}

.admition-area-box h2:after {
	position: absolute;
	content: '';
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
	width: 80px;
	height: 2px;
	background: #fff;
}

.admition-area-box p {
	font-family: poppins;
	color: #fff;
	font-size: 20px;
	padding-bottom: 20px;
}

.input1 {
	width: 141px;
	float: left;
}

.input1 input {
	padding: 10px 0px;
	text-align: center;
	border-top-left-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border: 0;
	outline: none;
}

.submit1 {
	width: 141px;
	float: left;
}

.submit1 input {
	padding: 10px 0px;
	text-align: center;
	border-top-left-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border: 0;
	outline: none;
}

.submit1 {
	width: 82px;
	float: left;
	top: 0;
	position: relative;
	font-size: 20px;
	padding: 8px 0px;
	text-align: center;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 0;
	outline: none;
	background: #1f3148;
	color: #fff;
}

.submit1 a {
	color: #fff;
}

/*---- This is a Admition Section ----*/
.admition-area-text {
	/* margin-top: -100px;*/
	width: 40%;
	text-align: center;
	float: right;
	margin-top: 25px;
}

.text-sub {
	color: #fb8122 !important;
	line-height: 40px;
	font-size: 12;
}

.admition-area-text p {
	color: gray;
}


/*---- This is a versity Section ----*/
h2 {
	color: #333333;
}

.versity-area {
	margin: 150px 0;
}

.versity-area-left {
	width: 50%;
	float: left;
	position: absolute;
}

.versity-area-right {
	width: 40%;
	float: right;
}

.versity-area-right p {
	padding: 10px 0;
	color: gray;
}

.images-left1{
	width: 50%;
	float: left;
	overflow: hidden;
}
.images-left1 img{
	width: 100%;
}
.content-right1{
	width: 50%;
	float: left;
}

/*---- This is a university area Section ----*/
.university-area {
	width: 100%;
	/*margin: 280px 0;*/
	padding-top: 100px;
}

.university-area-left {
	width: 50%;
	float: left;
}

.university-area-right {
	width: 40%;
	float: right;
}

.university-area-left p {
	padding: 10px 0;
	color: gray;
}


/*---- This is a skill Section ----*/

/*.skill-area {
	display: inline-block;
	text-align: center;
	padding: 90px;
	margin: 100px 0;
}*/

.skill-area {
	display: inline-block;
	text-align: center;
	padding-top: 70px;
}

.skill-area-right {
	width: 33%;
	float: left;
}

.skill-area-middle {
	width: 33%;
	float: left;
}

.skill-area-left {
	width: 33%;
	float: left;
}

h2 {
	font-size: 18px;
}


/*.skill-area p {
	font-size: 14px;
	margin: 5px;
	color: gray;
	padding: 10px;
}
*/

.skill-area p {
	font-size: 14px;
	margin: 5px;
	color: gray;
	padding: 10px 30px;
}

/*---- This is a footer Section ---- */

.footer {
	background-color: #ffffff;
}

.footer-area {
	padding: 60px 0;
	color: gray;
}

.copyright-icon {
	float: left;
	padding-right: 3px;
}

.footer-area-right {
	width: 50%;
	float: left;
	word-spacing: 5px;
}

.footer-area-right ul li {
	display: inline-block;
}

.footer-area-left ul li {
	float: right;
	word-spacing: 7px;
}

.footer-area ul li a {
	color: gray;
	font-size: 14px;
	padding: 0 15px;
	font-family: Open Sans, sans-serif;
	line-height: 60px;
	display: block;
	transition: all linear .3s;
}
/* ---- This is a Eind Section ---- */