*{
	margin: 0px;
	padding: 0px;
	outline: 0px;
}
body{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
ul,li{
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	vertical-align: middle;
}
.full-wrapper {
	width: 100%;
}
.wrapper {
	width: 1080px;
	margin: 0 auto;
}
.clr {
	clear: both;
}
@media (min-width:992px) and (max-width:1200px){

}

@media (min-width: 768px) and (max-width: 991px) {

}


@media (min-width:576px) and (max-width:767px){

}


@media (max-width: 575.98px) {

}



/* ------ This is headr-navsection section -------*/
.background {
    background: url("images/hedar.png")  no-repeat center;
    background-size: 1080px;
}
.header-logo{
	float: left;
    padding: 10px;
 }
.navsection ul li a{
	float: right;
	padding: 10px;
}
/* ------ This is headr section -------*/
.header{
	background-color: #ffffff;
	margin-top: 10px;
}
.header h1{
	    padding-top: 60px;
	    margin: 0px 0px 0px 50px;
}
.header p{
	padding-top: 10px;
	margin: 0px 0px 0px 50px;
}
/* ------ This is About section -------*/
.background-about{
    background: url("images/about.png")  no-repeat center;
    background-size: 1080px;
}
.about{
	text-align: center;
    margin-top: 10px;
}
.about h1{
	padding-top: 70px;
	color: #ffffff;
}
.about p{
	padding-top: 15px;
    padding-bottom: 70px;
    color: #ffffff;
}
/* ------ This is portfolio section -------*/
.portfolio{
	background-color: #ffffff;
	text-align: center;
    margin-top: 10px;
}
.portfolio h1{
	margin-top: 70px;
}
.portfolio p{
	margin-top: 15px;
}
/* ------ This is portfolio section -------*/
.portfolio{
	padding-bottom: 50px;
}
.portfolio-box {
    width: 33%;
    text-align: center;
    line-height: 20px;
	box-shadow: 1px 2px 3px -2px grey;
}
.portfolio-box:hover{
	box-shadow: 2px 2px 7px -2px gray;
}
.portfolio-box1 {
    width: 100%;
    display: flex;
	margin-top: 50px;
}
.portfolio-box2 {
    width: 100%;
    display: flex;
}
.portfolio-box img {
    padding-top:10px;
}
.portfolio-box3 {
    width: 100%;
    display: flex;
}
.portfolio-box4 {
    width: 100%;
    display: flex;
}
.portfolio-box5 {
    width: 100%;
    display: flex;
}
/* ------ This is stetionary section -------*/
.stetionary{
	text-align: center;
    margin-top: 10px;
}
.slider {
    margin-top: 30px;
}
/* ------ This is newlogo section -------*/
.newlogo{
	margin-top: 10px;
}
.design{
	text-align: center;
}
.p-text{
	margin-top: 50px;
}
.designbox{
	display: flex;
	margin-top: 15px;
    margin-bottom: 50px;
}
.design-box a{
	padding: 10px;
}