*{
	margin: 0px;
	padding: 0px;
	outline: 0px;
}
body{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
ul,li{
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	vertical-align: middle;
}
.full-wrapper {
	width: 100%;
}
.wrapper {
	width: 1080px;
	margin: 0 auto;
}
.clr {
	clear: both;
}
/* ------ This is headr-navsection section -------*/
.background {
    background: url("images/hedar.png")  no-repeat center;
    background-size: 1080px;
}
.header-logo{
	float: left;
    padding: 10px;
 }
 .header-logo img{
	margin: 0px 0px 0px 38px;
 }
.navsection ul li a{
	float: right;
    padding: 10px;
    color: #ffffff;
    margin: 12px 40px 0px 0px;
}
.navsection ul li a:hover{
	color: #20cae2;
}
/* ------ This is headr section -------*/
.header{
	background-color: #f9f9f9;
}
.left_logo{
	display: flex;
    justify-content: right;
}
.left_logo img{
	margin: 50px 50px 0px 0px;
    width: 40px;
}
.address h1{
	margin: 0px 0px 15px 50px;
    font-size: 45px;
}
.address p{
	margin: 5px 0px 50px 50px;
    font-size: 20px;
}
.address img{
	margin: 0px 0px 0px 50px;
}
.namebottomlog{
	display: flex;
    justify-content: center;
}
.namebottomlog img{
	margin-bottom: 15px;
}
/* ------ This is About section -------*/
.background-about{
    background: url("images/about.png")  no-repeat center;
    background-size: 1080px;
}
.about{
	text-align: center;
}
.about h1{
	padding-top: 70px;
    color: #ffffff;
    font-size: 35px;
}
.about p{
	padding-top: 15px;
    padding-bottom: 70px;
    color: #ffffff;
    font-size: 18px;
}
/* ------ This is portfolio section -------*/
.portfolio{
	background-color: #f9f9f9;
    text-align: center;
    padding-top: 50px;
}
.portfolio h1{
    font-size: 35px;
}
.portfolio p{
	margin-top: 15px;
    font-size: 18px;
}
/* ------ This is portfolio section -------*/
.portfolio{
	padding-bottom: 50px;
}
.portfolio-box {
    width: 33%;
    text-align: center;
    line-height: 20px;
	box-shadow: 1px 2px 3px -2px grey;
}
.portfolio-box:hover{
	box-shadow: 2px 2px 7px -2px gray;
}
.portfolio-box1 {
    width: 100%;
    display: flex;
	margin-top: 50px;
}
.portfolio-box2 {
    width: 100%;
    display: flex;
}
.portfolio-box img {
    padding-top:10px;
}
.portfolio-box3 {
    width: 100%;
    display: flex;
}
.portfolio-box4 {
    width: 100%;
    display: flex;
}
.portfolio-box5 {
    width: 100%;
    display: flex;
}
/* ------ This is stetionary section -------*/
.stetionary{
	background: #f9f9f9;
}
.stetionary h1{
	text-align: center;
	font-size: 35px;
}
.slider {
    margin-top: 30px;
}
/* ------ This is newlogo section -------*/
.newlogo{
	background: #f9f9f9;
}
.design{
	text-align: center;
}
.design h1{
	font-size: 35px;
	padding-top: 40px;
}
.p-text{
	margin-top: 50px;
}
.p-text p{    
	font-size: 18px;
    margin: 0px 0px 0px 30px;
}
.designbox{
	display: flex;
    justify-content: center;
    margin-top: 15px;
}
.design-box a{
	padding: 10px;
}
.contact{
	background: #f9f9f9;
}
.contact h1{
	text-align: center;
    font-size: 35px;
    padding-top: 70px;
}
.contact p{
	text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}
.con_log{
	display: flex;
    justify-content: center;
}
.con_log img{
	margin: 10px;
}
.social_log{
	display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
.social h4{
	text-align: center;
    margin: 30px 0px 10px 0px;
    font-size: 18px;
}
.social_log img{
	margin: 10px;
}
.footer{
	background: black;
}
.footer p{
	color: #ffffff;
    text-align: center;
    height: 25px;
    padding-top: 10px;
	font-size: 18px;
}
.footer p a{
	color: #ffffff;
}
.footer p a:hover{
	color: blue;
}
@media (min-width:992px) and (max-width:1200px){

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width:576px) and (max-width:767px){

}
@media (max-width: 575.98px) {

}